/*Define your font styles here*/
h1 {
	font-family: 'Federo', sans-serif;
	color: #DC143C;
}
h2 {
	font-family: 'Federo', sans-serif;
	color: #DC143C;
	text-decoration: underline;
}

.small {
	font-family: 'Roboto', sans-serif;
}
.bold {
	font-weight: bold;
	line-height: 110%;
}
.blue {
	color: #4863A0;
	font-style: italic;
	line-height: 120%;
	letter-spacing: 1px;
}
#last {
	color: #4863A0;
	font-weight: bold;
	line-height: 120%;
}




/*Style your page here*/
body {
	margin-left: 20%;
	margin-bottom: 10%;
	max-width: 60%;
	background-color: #fff8e7;
}

#cake {
	justify-content: center;
	margin-left: 5%;
}
#ad {
	width: 100%;
}

#prep {
  	list-style: none;
}
#order {
	list-style-type: upper-roman;
}

.big{
	margin-top: 5%;
}